body{padding:10px;}
table td:nth-child(1){text-align:right;min-width:100px;}
table td{
	padding:3px;
}
table{
	margin-top:20px;
}
.show{
	display:inline-block;
	height: 12px;
 	width: 14px;
 	background: url(../../Source/lib/ligerUI/skins/Aqua/images/layout/togglebar.gif) -4px -4px;
 	border:1px solid #fff;
}
.hide{
	display:inline-block;
	height: 12px;
 	width: 14px;
 	background: url(../../Source/lib/ligerUI/skins/Aqua/images/layout/togglebar.gif) -4px -41px;
 	border:1px solid #fff;
 	
}
.hide,.show:hover{
	border:1px solid #ccc;
}