@media(min-width:768px) {
    .email_table td input{width:400px;}
}
@media(max-width:768px) {
    .email_table td input{width:400px;}
}
@media(min-width:1000px) {
    .email_table td input{width:800px;}
}
@media(min-width:1360px) {
    .email_table td input{width:1020px;}
}

.table{margin-top:0px;width:100%;}
.table td{padding:3px 10px;}
.table td:nth-child(1){text-align:right;width:100px;}