<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oamanagersys.model.email.dao.EmailDao">
	<resultMap id="empResultMap" type="com.oamanagersys.model.email.entity.Email">
		<id column="emailId" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="acceptStatus" property="acceptStatus" />
		<result column="sendStatus" property="sendStatus" />
		<result column="acceptNo" property="acceptNo" />
		<result column="sendNo" property="sendNo" />
		<result column="delete" property="delete" />
		<result column="createTime" property="createTime" />
		<result column="createUser" property="createUser" />
		<result column="sendTime" property="sendTime" />
		<association property="emp" javaType="com.oamanagersys.model.user.entity.Emp" column="empId" resultMap="resultEmp"></association>
	</resultMap>
	
	<resultMap id="resultEmp" type="com.oamanagersys.model.user.entity.Emp">
		<id column="empId" property="id" />
		<result column="name" property="name" />
	</resultMap>
	
	<insert id="insert" parameterType="com.oamanagersys.model.email.entity.Email">
		INSERT INTO email(title,content,acceptStatus,sendStatus,acceptNo,sendNo,delete,createTime,createUser,sendTime)
		VALUES (#{title},#{content},#{acceptStatus},#{sendStatus},#{acceptNo},#{sendNo},#{delete},#{createTime},#{createUser},#{sendTime})
	</insert>
	
	
	
	
	
</mapper>