<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oamanagersys.model.user.dao.UserDao">
	<resultMap id="empResultMap" type="com.oamanagersys.model.user.entity.Emp">
		<id column="empNo" property="id" />
		<result column="password" property="password" />
		<result column="depId" property="depId" />
		<result column="positionId" property="positionId" />
		<result column="enttyTime" property="enttyTime" />
		<result column="probationPeriod" property="probationPeriod" />
		<result column="name" property="name" />
		<result column="formal" property="formal" />
		<result column="createTime" property="createTime" />
		<result column="createUser" property="createUser" />
		<result column="lastUpdateTime" property="lastUpdateTime" />
		<result column="updateUser" property="updateUser" />
		<!-- <association property="position" javaType="com.oamanagersys.model.department.entity.Position" column="positionId" resultMap="resultPosition"></association> -->
		<!-- 一对多的映射 -->
		<collection property="position" ofType="com.oamanagersys.model.department.entity.Position" javaType="arraylist">
			<id column="id" property="positionId" />
			<result column="positionCode" property="positionCode" />
			<result column="positionName" property="positionName" />
			<result column="parentMenu" property="parentMenu" />
			<result column="childMenu" property="childMenu" />
			<result column="createTime" property="createTime" />
			<result column="createUser" property="createUser" />
			<result column="lastUpdateTime" property="lastUpdateTime" />
			<result column="updateUser" property="updateUser" />
		</collection>
	</resultMap>
	
	<!-- <resultMap id="resultPosition" type="com.oamanagersys.model.department.entity.Position">
		<id column="id" property="positionId" />
		<result column="positionCode" property="positionCode" />
		<result column="positionNamae" property="positionNamae" />
	</resultMap> -->
	
	<select id="getAllEmp" resultMap="empResultMap" parameterType="com.oamanagersys.model.user.entity.Emp">
		select * from emp,position where emp.positionId = position.positionId 
		<if test="id != null">
			and empNo = #{id}
		</if>
		<if test="password != password">
			and empNo = #{id}
		</if>
	</select>
	
	<insert id="addUser" parameterType="com.oamanagersys.model.user.entity.Emp">
		INSERT INTO user(username,userpwd,useraccount,phone,address,sex,email,age)
		VALUES (#{userName},#{userPwd},#{userAccount},#{phone},#{address},#{sex},#{email},#{age})
	</insert>
</mapper>