<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oamanagersys.model.file.dao.FileDao">
	<resultMap id="fileResultMap" type="com.oamanagersys.model.file.entity.FileEntity">
		<id column="empNo" property="id" />
		<result column="password" property="password" />
		<result column="depId" property="depId" />
		<result column="positionId" property="positionId" />
		<result column="entryTime" property="entryTime" />
		<result column="probationPeriod" property="probationPeriod" />
		<result column="name" property="name" />
		<result column="formal" property="formal" />
		<result column="onJob" property="onJob" />
		<result column="createTime" property="createTime" />
		<result column="createUser" property="createUser" />
		<result column="lastUpdateTime" property="lastUpdateTime" />
		<result column="updateUser" property="updateUser" />
	</resultMap>
	
	
	
</mapper>