<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oamanagersys.model.communicate.dao.GroupDao">
	<resultMap id="groupResultMap" type="com.oamanagersys.model.communicate.entity.Group">
		<id column="groupId" property="id" />
		<result column="groupCode" property="groupCode" />
		<result column="groupName" property="groupName" />
		<result column="createTime" property="createTime" />
		<result column="createUser" property="createUser" />
		<result column="lastUpdateTime" property="lastUpdateTime" />
		<result column="updateUser" property="updateUser" />
		<association property="create" javaType="com.oamanagersys.model.user.entity.Emp" column="empId" resultMap="empResult"></association>
	</resultMap>
	
	<resultMap id="empResult" type="com.oamanagersys.model.user.entity.Emp">
		<id column="empId" property="id" />
		<result column="name" property="name" />
	</resultMap>
	
	<insert id="insert" parameterType="com.oamanagersys.model.communicate.entity.Group">
		INSERT INTO `group`(groupCode,groupName,createTime,createUser)
		VALUES (#{groupCode},#{groupName},#{createTime},#{createUser})
	</insert>
	
	<select id="select" resultMap="groupResultMap" parameterType="com.oamanagersys.model.communicate.entity.Group">
		SELECT * FROM `group` LEFT JOIN emp ON group.createUser = emp.empNo WHERE 1 = 1
		<if test="id != 0">
			and groupId = #{id}
		</if>
		<if test="groupCode != null and groupCode != ''">
			and groupCode = #{groupCode}
		</if>
		<if test="groupName != null and groupName != ''">
			and groupName like concat(concat('%',#{groupName}),'%')
		</if>
		<if test="createTime != null and createTime != ''">
			and createTime >= #{createTime}
		</if>
	</select>
	<delete id="delete">
		delete from  `group` where groupId in
		<foreach collection="array" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
</mapper>