<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oamanagersys.model.kaoqin.dao.KaoqinDao">
	<resultMap id="kaoqinResultMap" type="com.oamanagersys.model.kaoqin.entity.Kaoqin">
		<id column="id" property="id" />
		<result column="empNo" property="empNo" />
		<result column="yearMonth" property="yearMonth" />
		<result column="day" property="day" />
		<result column="weekDay" property="weekDay" />
		<result column="signInTime" property="signInTime" />
		<result column="signOutTime" property="signOutTime" />
		<result column="standardWorkTime" property="standardWorkTime" />
		<result column="actualWorkTime" property="actualWorkTime" />
		<result column="overTimeLong" property="overTimeLong" />
		<result column="lateTimeLong" property="lateTimeLong" />
		<result column="leaveEarlyTimeLong" property="leaveEarlyTimeLong" />
		<result column="status" property="status" />
		<result column="describe" property="describe" />
		<association property="emp" javaType="com.oamanagersys.model.user.entity.Emp" column="empId" resultMap="empResult"></association>
	</resultMap>
	
	<resultMap id="empResult" type="com.oamanagersys.model.user.entity.Emp">
		<id column="empId" property="id" />
		<result column="name" property="name" />
	</resultMap>
	
	<insert id="signIn" parameterType="com.oamanagersys.model.kaoqin.entity.Kaoqin">
		INSERT INTO `kaoqin`(empNo,yearMonth,`day`,weekDay,signInTime,signOutTime,standardWorkTime,actualWorkTime,overTimeLong,lateTimeLong,leaveEarlyTimeLong,`status`)
		VALUES (#{empNo}, #{yearMonth}, #{day}, #{weekDay}, #{signInTime}, #{signOutTime}, #{standardWorkTime}, #{actualWorkTime}, #{overTimeLong}, #{lateTimeLong}, #{leaveEarlyTimeLong}, #{status})
	</insert>
	
	<update id="signOut" parameterType="com.oamanagersys.model.kaoqin.entity.Kaoqin">
		UPDATE `kaoqin` SET signOutTime=#{signOutTime},actualWorkTime=#{actualWorkTime},overTimeLong=#{overTimeLong},leaveEarlyTimeLong=#{leaveEarlyTimeLong},status=#{status}
		WHERE day=#{day} AND empNo=#{empNo}
	</update>
	
	<select id="list" resultMap="kaoqinResultMap" parameterType="com.oamanagersys.model.kaoqin.entity.SearchKaoqin">
		SELECT * FROM `kaoqin` WHERE 1=1 AND yearMonth=#{yearMonth}
		<if test="empNo!=0">
			AND empNo=#{empNo}
		</if>
		<if test="yearMonth!=null and yearMonth!=''">
			AND empNo=#{empNo}
		</if>
		<if test="day!=null and day!=''">
			AND day=#{day}
		</if>
	</select>
	
</mapper>