*{margin: 0;padding: 0;font-family: "微软雅黑";}
html,body{width:100%;height: 100%;}
body{overflow: hidden;}
#login_box{
	position: absolute;
	width: 416px;
	height: 284px;
	overflow: hidden;
	top:20%;
	left:50%;
	margin-left:-208px;
	border-radius:5px;
	border:1px solid #fff;
}
legend{
	text-align: center;
	color:#fff;
	font-size:24px;
}
#login_title{
	padding:7px;
	text-align: center;
	color: #fff;;
}
#login_table{
	position: relative;
	width:100%;
	height: 100%;
	border-radius:5px;
	margin-top: 10px;
	color: #fff;
}
#login_table tr td:nth-child(1){
	width:80px;
	text-align: right;
	color: #fff;
	padding-right:20px;
	font-size:16px;
}
#login_table tr td{
	padding-top:17px;
}
input{
	border:0;
	border-radius: 5px;
	padding: 6px;
	font-size: 14px;
}
#id{
	width:268px;
}
#downmenu_ico{
	width:10px;
	height: 5px;
	overflow: hidden;
	background: url(../../icon/downmenu_ico.png) center center no-repeat;
	position: absolute;
	top:28px;
	left: 365px;
	cursor:pointer;
	padding: 2px;
}
#account-list{
	list-style: none;
	position: absolute;
	width: 280px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	display: none;
}
#account-list li{
	background: #76B2EC;
	padding:3px 5px;
	cursor:pointer;
}
#account-list li:hover{
	background: #8EC1F2;
}
#downmenu_ico:hover{
	background: url(../../icon/downmenu_hover_ico.png) center center no-repeat;
}
#password{
	width:268px;
}
#code{
	width:104px;
	float: left;
}
#code_content{
	width:112px;
	height: 32px;
	float: left;
	margin: 0 0 0 16px;
	background: url(../../icon/codeimg.png);
	cursor: pointer;
}
#loginbtn{
	width:112px;
	height:35px;
	overflow: hidden;
	margin: 0 0 0 54px;
	background: url(../../icon/loginbtn_bg.png);
	cursor: pointer;
}

